Flask>=3.0.0
Werkzeug>=3.0.1
watchdog>=3.0.0
Pillow>=10.1.0
gpiozero>=2.0
# RPi.GPIO>=0.7.1 (Bỏ comment dòng này khi cài trên Raspberry Pi)
# spidev>=3.6 (Bỏ comment dòng này khi cài trên Raspberry Pi)
